/* ====== TabBar ====== */
.tabbar {
  background-color: var( --ui-white);
  color: var(--ui-black);
  font-size: 14px;
  position: fixed;
  inset: auto 0 0 0;
  height: 72px; 
  z-index: 1000;
  border-top: 1px solid var(--ui-black);
}

.tabbar-icon {
  width: 30px;
  height: 30px;
  display: block;
}

.tabbar ul {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  padding: 0;
  margin: 0;
  height: 100%;
}

.tabbar ul li {
  flex: 1;
  text-align: center;
}

.tabbar ul li a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 6px;
  text-decoration: none;
  padding: 8px 0;
}

.tabbar ul li a span {
  color: var(--ui-black);
}

/* ================================================= */
/* ESTADO ACTIVO (Cuando Angular pone la clase .active) */
/* ================================================= */
/* Color azul para el texto cuando la pestaña está activa */
.tabbar a.active span {
  color: var(--tabbar-active);
  font-weight: 800;
}

/* Filtro para que el icono se vuelva azul cuando está activo */
.tabbar a.active .tabbar-icon {
  filter: invert(34%) sepia(93%) saturate(3025%) hue-rotate(202deg) brightness(101%) contrast(106%);
}