<nav class="tabbar" aria-label="Barra de pestañas">
    <ul>
      <li>
        <!--Quite /mapa para hacer q routerLink detecte a las rutas q cuelgan como hijas-->
        <a routerLink="/monumentos" routerLinkActive="active">
            <img src="icons/tabbar/icon-monumentos.png"
               class="tabbar-icon" alt="" aria-hidden="true">
            <span>Monumentos</span>
        </a>
      </li>
      <li>
        <a routerLink="/eventos" routerLinkActive="active">
            <img src="icons/tabbar/icon-eventos.png"
                class="tabbar-icon" alt="" aria-hidden="true">
            <span>Eventos</span>
        </a>
      </li>
      <li>
        <a routerLink="/favoritos" routerLinkActive="active">
            <img src="icons/tabbar/icon-favoritos.png"
               class="tabbar-icon" alt="" aria-hidden="true">
            <span>Favoritos</span>
        </a>
      </li>
    </ul>
  </nav>
  