<nav class="tabbar" aria-label="Barra de pestañas">
    <ul>
      <li>
        <a routerLink="/monumentos/mapa" routerLinkActive="active">
            <img src="icons/icon-monumentos.png"
                style="height: 30px; width: 30px;"
               class="tabbar-icon" alt="" aria-hidden="true">
            <span>Monumentos</span>
        </a>
      </li>
      <li>
        <a routerLink="/eventos/calendario" routerLinkActive="active">
            <img src="icons/icon-eventos.png"
                style="height: 30px; width: 30px;"
                class="tabbar-icon" alt="" aria-hidden="true">
            <span>Eventos</span>
        </a>
      </li>
      <li>
        <a routerLink="/favoritos/listado" routerLinkActive="active">
            <img src="icons/icon-favoritos.png"
               style="height: 30px; width: 30px;"
               class="tabbar-icon" alt="" aria-hidden="true">
            <span id="tabbar-label-favorites">Favoritos</span>
        </a>
      </li>
    </ul>
  </nav>
  