.location-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
}
  
.location-info {
    display: flex; 
    flex-direction: row;
    align-items: center; 
    gap: 6px; 
    white-space: nowrap;
}
  
.location-icon {
    width: 18px;
    height: 18px;
    flex-shrink: 0;
}
  
.location-dot {
    color: var(--ui-darker-grey); 
    font-weight: bold;
}  
  
.btn-directions {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  border: none;
  background: transparent;
}

.btn-directions img{
    width: 2rem;
    height: 2rem;
    filter: brightness(0) saturate(100%) invert(40%) sepia(95%) saturate(1850%) hue-rotate(199deg) brightness(96%) contrast(96%);
}
