<article class="card-map">
    <div class="card-content">
        <div class="card-text">
            <h3 class="card-title">{{ titulo() || 'Selecciona un monumento' }}</h3>
            <p class="card-meta"><u>Estilo</u>: {{ tipo() || '-' }}</p>
        </div>
        <a 
            class="btn-ver-detalles" 
            [routerLink]="['/monumentos', 'detalles', monumentoId()]" 
            routerLinkActive="active"
            aria-label="Ver detalles del monumento">
            <!--Uso aria label para dar más contexto al lector de pantallas-->
            Ver detalles
        </a>
    </div>
</article>
