.card-map {
    /*Posición*/
    position: fixed;
    bottom: var(--toolbar-height);
    left: 2px;
    right: 2px;
    padding: 16px 18px;
    z-index: 1500;
    /*Apariencia*/
    background: var(--background-color);
    border-radius: 28px 28px 0 0;
    box-shadow: 0 -4px 15px rgba(0,0,0,0.75);
    border: 1px solid var(--ui-black);
}

.card-content {
    /*Disposición*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;
}

.card-text {
    flex: 1;
    min-width: 0; /* permite elipsis */
}

.card-title {
    /*Apariencia*/
    margin: 0;
    font-size: 22px;
    font-weight: 800;
    color: var(--ui-white);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-meta {
    /*Posicion*/
    padding-top: 5px;
    margin: 4px;
    /*Apariencia*/
    color: var(--ui-darker-grey);
    font-weight: 700;
    font-size: 16px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

/* Botón "Ver detalles" (Dentro de la card) */
.btn-ver-detalles {
    padding: 12px 20px;
    /*Apariencia*/
    background-color: var(--tabbar-active);
    color: var(--ui-white);
    border-radius: 12px;
    text-decoration: none;
    font-weight: 600;
    border: 1px solid var(--ui-black);
}
