/* Contenedor del Mapa */
#map {
  /*Disposición*/
  height: calc(100vh - var(--tabbar-height));
  width: 100%;
  display: block;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

/* ============================ */
/* Botones control mapa y lista */
/* ============================ */
.map-button-group{
  /*Disposicion*/
  position: relative;
  z-index: 2000;
  display: flex;
  flex-direction: column;
  align-items: center;
  right: 1rem;
  bottom: 7rem;
  gap: 1rem;
}

.map-button-location,
.map-button-controls,
.map-button-list {
  /*Disposición*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /*Tamaño y forma*/
  width: 56px;
  height: 56px;
  border-radius: 50%;
  box-sizing: border-box;
  /*Apariencia*/
  border: 2px solid var(--ui-black);
  appearance: none;
  box-shadow: 0 4px 10px var(--ui-black);
}

.map-button-location,
.map-button-list {
  background: var(--tabbar-active);
}

/*.map-button-controls {
  background: var(--ui-white);
  color: var(--ui-black);
  font-size: 1.5rem;
}*/

.map-button-location img,
.map-button-list img {
  width: 24px;
  height: 24px;
  object-fit: contain;
}

.map-button-actions {
  /*Posicion*/
  position: absolute;
  right: calc(100% + 10px);
  top: 40%;
  transform: translateY(-50%);
  /*Disposición*/
  display: grid;
  grid-template-columns: repeat(3, 0px);
  grid-template-rows: repeat(3, 0px);
  gap: 8px;
  pointer-events: auto;
}

.map-fab-btn {
  /*Disposición*/
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  /*Tamaño*/
  width: 48px;
  height: 48px;
  box-sizing: border-box;
  /*Apariencia*/
  border: 2px solid var(--ui-black);
  border-radius: 50%;
  background: var(--ui-white);
  color: var(--ui-black);
  appearance: none;
  box-shadow: 0 4px 10px var(--ui-black);
  font-size: 1.2rem;
  line-height: 1;
}

.map-button-actions .map-fab-btn:nth-child(1) {
  grid-column: 2;
  grid-row: 1;
}

.map-button-actions .map-fab-btn:nth-child(2) {
  grid-column: 3;
  grid-row: 1;
}

.map-button-actions .map-fab-btn:nth-child(3) {
  grid-column: 3;
  grid-row: 2;
}

.map-button-actions .map-fab-btn:nth-child(4) {
  grid-column: 2;
  grid-row: 3;
}

.map-button-actions .map-fab-btn:nth-child(5) {
  grid-column: 3;
  grid-row: 3;
}

.map-button-actions .map-fab-btn:nth-child(6) {
  grid-column: 1;
  grid-row: 2;
}
