<header class="toolbar" aria-label="Cabecera">
    <div class="searchbar" role="search">
        <img src="icons/lupa-removebg-preview.png" class="sb-img" alt="" aria-hidden="true" />
        <label for="sb" class="sr-only">Buscar eventos</label>
        <input id="sb" 
               name="sb" 
               type="search" 
               placeholder="Buscar eventos" 
               inputmode="search" 
               autocomplete="off"/>
    </div>

    <button class="btn-filtros" 
            type="button"
            aria-label="Abrir filtros">
        <img src="icons/filter-icon-removebg-preview.png" alt="" aria-hidden="true" />
    </button>
</header>